@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    height:100vh;
    width:100vw;
    display: flex;
    justify-content: center;
    align-items:center; 
}
.container{
    width:400px;
    font-family: "Familjen Grotesk", sans-serif;
    border:1px solid black;
    padding:40px 50px;
    border-radius: 10px;
    position: relative;
    gap: 10px;
}
.login input {
    width:100%;
    margin-bottom:10px;
    padding:13px 12px
}
.pwdcls{
    display: flex;
    width: 200px;
}
.pwdcls input{
    width: 16px;
    height: 16px;
    margin-top: 3px;
    margin-right: 6px;
}
h2{
   position: absolute;
   top: 10px;
   left:170px;
    
}
button{
    width:100%;
    margin-bottom:10px;
    padding:13px 12px;
    margin-top: 10px;
}
button:hover{
    cursor: pointer;
}
.email{
    margin-top: 10px;
}